@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-bottom: 0.5px solid rgb(202, 196, 196);
  width: 100%;
}

.menu div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 10px;
}

.logo {
  padding-left: 50px;
  height: 30px;
}

.search {
  width: 600px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #f8f8f8;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.search::after {
  content: "";
  clear: both;
  display: table;
}

.left-side {
  position: absolute;
  display: flex;
  width: 300px;
  height: 30px;
  right: 0;
  justify-content: space-around;
}

.left-side img {
  width: 35px;
  height: 35px;
}

.image-3 {
  display: inline-block;
  border-radius: 50%;
}

main {
  display: flex;
  padding-top: 50px;
}

.side-bar {
  width: 400px;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
}

.item {
  display: flex;
  height: 50px;
  padding: 40px;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.item img {
  width: 50px;
}

.item p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.content {
  display: grid;
  padding: 60px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.video {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  padding-top: 30px;
  gap: 20px;
}

.title img {
  width: 80px;
}

.title h2 {
  width: 80%;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;

  color: #000000;
  padding-bottom: 20px;
}

.video p {
  font-size: 18px;
  padding-left: 100px;
}
